.view-AppView {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0;
    overflow: hidden;
}

@media (orientation: portrait) {
    .view-AppView {
        flex-direction: column;
    }
}

@media (orientation: landscape) {
    .view-AppView {
        flex-direction: row;
    }
}

.view-AppView > * {
    flex: 0 0 auto;
}

.view-AppView > .fill {
    position: relative;
    flex: 1 1 auto;
}

.view-AppView > .fill > footer {
    position: absolute;
    left: 1em;
    right: 1em;
    bottom: 0;
    padding: 0.25em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem 1rem 0 0;
    background-color: #333;
    border: 0.25em solid #642;
    border-bottom: none;
    box-shadow: 0 0.125em 0.125em #000 inset;
}

.view-AppView div.yes,
.view-AppView div.no {
    border-radius: 999vmax;
    padding: 0;
    line-height: 1.5em;
    width: 1.5em;
    text-align: center;
    transition: all 0.3s;
    box-shadow: 0 0.125em 0.125em #000;
}

.view-AppView div.yes {
    background-color: #5f3;
    color: #000;
}

.view-AppView div.no {
    background-color: #b00;
    color: #fff;
}

.view-AppView div.message {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 0 1rem 2rem 1rem;
    background-color: #defd;
    overflow: auto;
    opacity: 1;
    transition: opacity 0.3s;
}

.view-AppView div.message::before,
.view-AppView div.message::after {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9;
    height: 2rem;
    content: ".";
    font-size: 0;
    pointer-events: none;
}

.view-AppView div.message::before {
    top: 0;
    background-image: linear-gradient(to top, transparent, #def);
}

.view-AppView div.message::after {
    bottom: 0;
    background-image: linear-gradient(to top, #def, transparent);
}

.view-AppView div.message.hide {
    opacity: 0;
    pointer-events: none;
}

.view-AppView div.message div.languages {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.view-AppView div.message div.rule {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
    font: 80%;
    margin: 0.75rem 0;
}

.view-AppView div.message div.rule > * {
    flex: 0 0 auto;
}

.view-AppView div.message div.rule > *:last-child {
    flex: 1 1 auto;
}
