:root {
    --theme-color-screen: #321;
    --theme-color-primary: #d70;
    --theme-color-primary-light: #f92;
    --theme-color-primary-dark: #740;
}

progress[value] {
    box-sizing: border-box;
    margin: 1rem 0;
    appearance: none;
    border: none;
    height: 0.5rem;
    background-image: linear-gradient(
            to top,
            transparent,
            transparent 50%,
            #fff7 50%,
            #fff7
        ),
        linear-gradient(var(--theme-color-screen), var(--theme-color-screen));
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem #0007 inset, 0 -0.125rem 0.25rem #fff7 inset;
    position: relative;
    overflow: hidden;
}

progress[value]::-webkit-progress-bar {
    background-image: linear-gradient(
            to top,
            transparent,
            transparent 50%,
            #fff7 50%,
            #fff7
        ),
        linear-gradient(var(--theme-color-screen), var(--theme-color-screen));
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem #0007 inset, 0 -0.125rem 0.25rem #fff7 inset;
}

progress[value]::-webkit-progress-value {
    background-size: 100% 100%, 1.5rem 1rem, 100% 100%;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem var(--theme-color-primary);
    background-image: linear-gradient(
            to top,
            transparent,
            transparent 50%,
            #fff7 50%,
            #fff7
        ),
        linear-gradient(
            135deg,
            transparent,
            transparent 33%,
            #0002 33%,
            #0002 66%,
            transparent 66%
        ),
        linear-gradient(
            to top,
            var(--theme-color-primary-light),
            var(--theme-color-primary-dark)
        );
}

progress[value]::-moz-progress-bar {
    background-image: linear-gradient(
            to top,
            transparent,
            transparent 50%,
            #fff7 50%,
            #fff7
        ),
        linear-gradient(
            135deg,
            transparent,
            transparent 33%,
            #0002 33%,
            #0002 66%,
            transparent 66%
        ),
        linear-gradient(
            to top,
            var(--theme-color-primary-light),
            var(--theme-color-primary-dark)
        );
    background-size: 100% 100%, 1.5rem 1rem, 100% 100%;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem var(--theme-color-primary);
}
